doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title .Next on Tour
  body
    .header
      h1.page-title ##app_name## website

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') Drive
      li: a(href='https://www.nutanix.com/') Livraison 
      li: a(href='#contact') Promotions
      li: a(href='#about') Services


    .main-content
      block content

    .footer
