doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title .Next on Tour
  body
    .header
      h1.page-title 

    ul.nav
      li: a(href='https://www.nutanix.com') Home
      li: a(href='https://www.nutanix.com') Ligue 1
      li: a(href='https://www.nutanix.com') Rugby
      li: a(href='https://www.nutanix.com') Boxe
      li: a(href='https://www.nutanix.com') Ski

    .main-content
      block content
      iframe(type='text/html' width='640' height='390'
    src='https://www.youtube.com/embed/yp9KboijjOY'
    frameborder='0')
    
p Pandente itaque viam fatorum sorte tristissima, qua praestitutum erat eum vita et imperio spoliari, itineribus interiectis permutatione iumentorum emensis venit Petobionem oppidum Noricorum,
p ubi reseratae sunt insidiarum latebrae omnes, et Barbatio repente apparuit comes, qui sub eo domesticis praefuit, cum Apodemio agente in rebus milites ducens, quos beneficiis suis oppigneratos
p elegerat imperator certus nec praemiis nec miseratione ulla posse deflecti.


    .footer

      p © 2018 Nutanix .Next on Tour, All Rights Reserved.
      p served by #{hostname}
      p ---
      p
       a(href='/stats' onclick='javascript:event.target.port=8080' target='_blank') Stats
      p 
       a(href='https://status.nxlab.fr/' target='_blank') Status
